#Navbar
  position: sticky
  width: 100%
  top: 0
  color: white
  z-index: 2
  margin-top: -58px

  &::before
    position: absolute
    content: ' '
    height: 100%
    width: 100%
    background: linear-gradient(#181818 -25%, transparent)

  .content
    display: flex
    flex: 1
    justify-content: space-between
    align-items: center
    padding: 10px 30px
