#Footer
  background-color: #282828
  display: flex
  align-items: center
  flex: 0 0 88px
  box-sizing: border-box
  overflow: hidden

  a
    color: rgba(255,255,255,.4)

    &:hover
      text-decoration: underline

  .segment
    display: flex
    flex: 0 1 20%
    padding: 0 30px
    color: white
    flex-direction: column

    &.large
      flex: 1

  .controllers
    display: flex
    justify-content: center
    align-items: center
    font-size: 80%

    a
      margin: 0 10px
      color: #A0A0A0
      transition: 0.1s

      &.active
        color: #1DB954

      &:hover
        color: white
      &:active
        color: #A0A0A0

      &.scale
        &:hover
          transform: scale(1.05)
        &:active
          transform: none

      i
        margin: 0

  .slider
    display: flex
    justify-content: center

    &.volume
      max-width: 150px

    .label
      color: #A0A0A0
      font-size: 0.9em
      position: relative
      top: 2px

      &:first-child
        margin-right: 12px
      &:last-child
        margin-left: 12px

    .rc-slider
      margin-top: -2px
      padding: 10px 0

      .rc-slider-rail
        border-radius: 100px
        background-color: #404040

      .rc-slider-track
        background-color: #A0A0A0

      .rc-slider-handle
        border: none
        display: none
        background-color: #FFFFFF
        margin-left: -6px
        margin-top: -4px
        width: 12px
        height: 12px

      &:hover, &:active
        .rc-slider-track
          background-color: #1DB954

        .rc-slider-handle
          display: block
